@if (TempData["message"] != null)
{
    <div class="alert alert-warning">
        @TempData["message"]
    </div>
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Blog</title>
    <!-- Favicons -->
    <link href="~/assets/img/favicon.png" rel="icon">
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&family=Inter:wght@400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <!-- Template Main CSS Files -->
    <link href="~/assets/css/variables.css" rel="stylesheet">
    <link href="~/assets/css/main.css" rel="stylesheet">
</head>
<body class="" style="background:linen	;">
    <header style="background:aliceblue; id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
            <a asp-controller="UserInterface" asp-action="Index" class="logo d-flex align-items-center">
                <h1>Blog</h1>
            </a>
            <nav id="navbar" class="navbar">
                <ul>
                    <li><a asp-controller="UserInterface" asp-action="Index">Blog</a></li>
                    <li><a asp-area="" asp-controller="Posts" asp-action="Index">Posts</a></li>
                    <li><a asp-controller="UserInterface" asp-action="Single">Single Post</a></li>
                    <li class="dropdown">
                        <a asp-controller="UserInterface" asp-action="Category"><span>Categories</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                        <ul>
                            <li><a asp-controller="UserInterface" asp-action="Search">Search Result</a></li>
                            <li><a href="#">Drop Down 1</a></li>
                            <li class="dropdown">
                                <a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                                <ul>
                                    <li><a href="#">Deep Drop Down 1</a></li>
                                    <li><a href="#">Deep Drop Down 2</a></li>
                                    <li><a href="#">Deep Drop Down 3</a></li>
                                    <li><a href="#">Deep Drop Down 4</a></li>
                                    <li><a href="#">Deep Drop Down 5</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Drop Down 2</a></li>
                            <li><a href="#">Drop Down 3</a></li>
                            <li><a href="#">Drop Down 4</a></li>
                        </ul>
                    </li>
                    <li><a asp-controller="UserInterface" asp-action="About">About</a></li>
                    <li><a asp-controller="UserInterface" asp-action="Contact">Contact</a></li>
                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        @if (User.IsInRole("Admin"))
                        {
                            <li><a class="mx-1" asp-area="" asp-controller="Users" asp-action="Index">Users</a></li>
                            <li><a class="mx-1" asp-area="" asp-controller="Roles" asp-action="Index">Roles</a></li>
                        }
                        <li class="nav-item"><a asp-controller="Posts" asp-action="List" class="nav-link">Post List</a></li>
                    }
                </ul>
            </nav>

            <div class="position-relative">

                <a href="https://www.facebook.com/" class="mx-2" target="_blank"><span class="bi-facebook"></span></a>
                <a href="https://twitter.com/" class="mx-2" target="_blank"><span class="bi-twitter"></span></a>
                <a href="https://www.instagram.com/mustafacelik_jmt/" class="mx-2" target="_blank"><span class="bi-instagram"></span></a>

                <a href="#" class="mx-2 js-search-open"><span class="bi-search"></span></a>
                <i class="bi bi-list mobile-nav-toggle"></i>
                <!-- ======= Search Form ======= -->
                <div class="search-form-wrap js-search-form-wrap">
                    <form action="search-result.html" class="search-form">
                        <span class="icon bi-search"></span>
                        <input type="text" placeholder="Search" class="form-control">
                        <button class="btn js-search-close"><span class="bi-x"></span></button>
                    </form>
                </div><!-- End Search Form -->
                @if (User.Identity?.IsAuthenticated == true) //@Model.UserName (@Model.FullName)
                {
                    <a href="/profile/@User.Identity.Name" class="mx-3">Merhaba, @User.Identity.Name</a>
                    <a class="mx-3" asp-area="" asp-controller="Account" asp-action="Logout">Logout</a>
                }
                else
                {
                    <a class="mx-3" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                    <a class="mx-3" asp-area="" asp-controller="Account" asp-action="Create">Register</a>
                }
            </div>
        </div>
    </header>

    <div class="container mt-3">
        @if (TempData["message"] != null)
        {
            <div class="alert alert-warning col-3">
                @TempData["message"]
            </div>
        }
        <main id="main" role="main" class="pb-3">
            <hr />
            @RenderBody()
        </main>
    </div>

    <footer id="footer" class="footer">
        <div class="footer-content">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-4">
                        <h3 class="footer-heading">About Blog</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ab, perspiciatis beatae autem deleniti voluptate nulla a dolores, exercitationem eveniet libero laudantium recusandae officiis qui aliquid blanditiis omnis quae. Explicabo?</p>
                        <p><a asp-controller="UserInterface" asp-action="About" class="footer-link-more">Learn More</a></p>
                    </div>
                    <div class="col-6 col-lg-2">
                        <h3 class="footer-heading">Navigation</h3>
                        <ul class="footer-links list-unstyled">
                            <li><a asp-controller="UserInterface" asp-action="Index"><i class="bi bi-chevron-right"></i> Home</a></li>
                            <li><a asp-controller="UserInterface" asp-action="Index"><i class="bi bi-chevron-right"></i> Blog</a></li>
                            <li><a asp-controller="UserInterface" asp-action="Category"><i class="bi bi-chevron-right"></i> Categories</a></li>
                            <li><a asp-controller="UserInterface" asp-action="Single"><i class="bi bi-chevron-right"></i> Single Post</a></li>
                            <li><a asp-controller="UserInterface" asp-action="About"><i class="bi bi-chevron-right"></i> About us</a></li>
                            <li><a asp-controller="UserInterface" asp-action="Contact"><i class="bi bi-chevron-right"></i> Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-lg-2">
                        <h3 class="footer-heading">Categories</h3>
                        <ul class="footer-links list-unstyled">
                            <li><a asp-controller="UserInterface" asp-action="Category"><i class="bi bi-chevron-right"></i> Business</a></li>
                            <li><a asp-controller="UserInterface" asp-action="Category"><i class="bi bi-chevron-right"></i> Culture</a></li>
                            <li><a asp-controller="UserInterface" asp-action="Category"><i class="bi bi-chevron-right"></i> Sport</a></li>
                            <li><a asp-controller="UserInterface" asp-action="Category"><i class="bi bi-chevron-right"></i> Food</a></li>
                            <li><a asp-controller="UserInterface" asp-action="Category"><i class="bi bi-chevron-right"></i> Politics</a></li>
                            <li><a asp-controller="UserInterface" asp-action="Category"><i class="bi bi-chevron-right"></i> Celebrity</a></li>
                            <li><a asp-controller="UserInterface" asp-action="Category"><i class="bi bi-chevron-right"></i> Startups</a></li>
                            <li><a asp-controller="UserInterface" asp-action="Category"><i class="bi bi-chevron-right"></i> Travel</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4">
                        <h3 class="footer-heading">Recent Posts</h3>

                        <ul class="footer-links footer-blog-entry list-unstyled">
                            <li>
                                @*Partial View kullanıcak yerlerden biri*@
                                <a asp-controller="UserInterface" asp-action="Single" class="d-flex align-items-center">
                                    <img src="assets/img/post-sq-1.jpg" alt="" class="img-fluid me-3">
                                    <div>
                                        <div class="post-meta d-block"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                                        <span>5 Great Startup Tips for Female Founders</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="UserInterface" asp-action="Single" class="d-flex align-items-center">
                                    <img src="assets/img/post-sq-2.jpg" alt="" class="img-fluid me-3">
                                    <div>
                                        <div class="post-meta d-block"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                                        <span>What is the son of Football Coach John Gruden, Deuce Gruden doing Now?</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="UserInterface" asp-action="Single" class="d-flex align-items-center">
                                    <img src="assets/img/post-sq-3.jpg" alt="" class="img-fluid me-3">
                                    <div>
                                        <div class="post-meta d-block"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                                        <span>Life Insurance And Pregnancy: A Working Mom’s Guide</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="UserInterface" asp-action="Single" class="d-flex align-items-center">
                                    <img src="assets/img/post-sq-4.jpg" alt="" class="img-fluid me-3">
                                    <div>
                                        <div class="post-meta d-block"><span class="date">Culture</span> <span class="mx-1">&bullet;</span> <span>Jul 5th '22</span></div>
                                        <span>How to Avoid Distraction and Stay Focused During Video Calls?</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-legal">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                        <div class="copyright">
                            © Copyright <strong><span>Blog</span></strong>. All Rights Reserved
                        </div>
                        <div class="credits">
                            Designed by <a class="linkedin" href="https://www.linkedin.com/in/mustafa-çelik-2265081b6/" target="_blank"><i class="bi bi-linkedin"></i> - Mustafa Çelik</a>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="social-links mb-3 mb-lg-0 text-center text-md-end">
                            <a href="https://twitter.com/" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
                            <a href="https://www.facebook.com/" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="https://www.instagram.com/mustafacelik_jmt/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
                            <a href="#" class="google-plus"><i class="bi bi-skype"></i></a>
                            <a href="https://www.linkedin.com/in/mustafa-çelik-2265081b6/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>
    <script src="~/assets/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
